<template>
  <transition name="modal">
    <div v-if="show" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container p-0 col-lg-6 col-md-8 col-11">
          <a type="button" class="float-right pointer mr-3 mt-2" @click="$emit('close')">
            &#10006;
          </a>
          <div class="modal-header border-0 pl-4 pt-4 pb-0">
            <h5 class="w-100">
              <strong>All Articles</strong>
            </h5>
          </div>
          <div class="modal-body py-0 mt-2 pb-1">
            <div v-for="(news, i) in data" :key="news.id" class="col-12 pl-2">
              <div class="py-2" :class="{'border-top': i !== 0}">
              <h6 class="mb-1">
                <strong> {{news.title}}</strong>
                <small class="float-right">
                  {{news.published_date}}
                </small>
              </h6>
              <p class="news-description mb-0">
                {{news.content.substring(0,165)}}
                <span class="btn-all-news" @click="activeIndex = i" v-if="activeIndex !== i">
                  Read more sdf
                </span>
                <span v-else>
                  <span>{{news.content.substring(165)}}</span>
                  <a :href="news.link" class="w-100 text-primary" target="_blank">
                  <br> {{news.link}}
                  </a>
                </span>
              </p>
              </div>
            </div>
          </div>
          <div class="modal-footer pb-1 pt-2 text-center w-100">
            <div class="w-100">
            <button class="btn btn-outline-danger px-5 py-1" @click="$emit('close')">
              Load more
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>

export default {
  props: {
    show: {
      required: true,
      type: Boolean
    },
    data: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      activeIndex: null
    }
  }
};
</script>


<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 82%);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  min-width: 300px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-body {
  margin: 20px 0;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pointer{
  cursor: pointer;
}
.modal-body{
  max-height: 74vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-body h6 strong{
  font-size: 15px;
}
.modal-body::-webkit-scrollbar {
  width: 9px;
}

/* Track */
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
.modal-body::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 3px;
}

</style>
