<template>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="@/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Test Code
      </a>
    </nav>
  </header>
</template>
