<template>
  <div class="container pt-3 container-fluid">
    <AllNewsModal
    :show="showModal"
    :data="news"
    @close="showModal = false"
    />

    <div class="row">
      <div class="col-md-5 offset-md-7">
        <div class="card">
          <div class="card-body p-2 bg-light">
            <div class="latest-news card-body rounded">
              <small class="float-right btn-all-news" @click="showModal = true">
                Ser Arkiv
              </small>
              <h5><strong> News</strong></h5>
              <p class="news-title mb-1">
                <strong> {{news[0].title}}</strong>
                <small class="float-right">
                  {{news[0].published_date}}
                </small>
              </p>
              <p class="news-description mb-0">
                {{news[0].content.substring(0,165)}}
                <span class="btn-all-news" @click="showMore = true" v-if="!showMore">
                  Read more
                </span>
                <span v-else>
                  {{news[0].content.substring(165)}}
                  <a :href="news[0].link" class="w-100 text-primary" target="_blank">
                     {{news[0].link}}
                  </a>
                </span>
              </p>
            </div>

            <div class="card-body shadow rounded bg-white mt-3 pb-2">
              <small class="float-right btn-all-news" @click="showModal = true">
                Ser Arkiv
              </small>
              <h5><strong>Recent News</strong></h5>
              <ul class="list-group-flush list-group">
                <li v-for="(data, index) in recentNews" :key="data.id" class="list-group-item px-0 py-2" :class="{'border-top-0': index === 0}">
                  <span class="list-title">{{data.title}}</span>
                  <small class="btn-all-news" @click="activeIndex = index" v-show="index !== activeIndex">
                    Read more
                  </small>
                  <p class="news-description" v-if="index === activeIndex">
                    {{data.content}}
                    <a :href="data.link" class="w-100 text-primary" target="_blank" v-show="data.link">
                      {{data.link}}
                    </a>
                  </p>
                  <small class="list-title float-right">{{data.published_date}}</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AllNewsModal from "./AllNewsModal";
export default {
  components: {AllNewsModal},
  data(){
    return {
      showModal: false,
      activeIndex: null,
      showMore: false
    }
  },
  /**
   * Here method will be dispatched
   * Right now data is static But i design it like API response
   *
   */
  created() {
    this.$store.dispatch('getNews')
  },
  computed: {
    news(){
      return this.$store.getters.allNews
    },
    recentNews(){
      return this.$store.getters.recentNews
    }
  }
}
</script>
