<template>
  <div id="app">
    <MainHeader/>
<!--    News section-->
    <News />
  </div>
</template>

<script>
import News from './components/News.vue'
import MainHeader from "./components/MainHeader";
export default {
  name: 'App',
  components: {
    MainHeader,
    News
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
